_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.obsidian
Portfolio/.obsidian
.vscode
.obsidian/workspace.json
templates
/.obsidian
templates
drafts
Portfolio/test
/.obsidian
.obsidian/workspace.json

