{% assign post = page %}

{% assign random_posts = site.posts | where_exp:"post", "post.url != page.url" | sample:4 %}

{% if random_posts.size > 0 %}
<aside class="other-projects related mb0" role="complementary">
  <h2 class="hr-bottom">{{ site.data.strings.random_posts | default:"Random Posts" }}</h2>


  <div class="columns">
    {% for post in random_posts limit:4 %}
      <div class="column column-1-2">
        {% if post %}
          {% include_cached pro/post-card.html post=post %}
        {% else %}
          Post with path <code>{{ post_path }}</code> not found.
        {% endif %}
      </div>
    {% endfor %}
  </div>
</aside>
{% endif %}